%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import, warnings_as_errors]}.
{cover_enabled, true}.

{plugins, [pc]}.

{port_specs, [{"priv/k6_bytea.so", ["c_src/k6_bytea.c"]}]}.

{provider_hooks,
 [{post,
   [{compile, {pc, compile}},
    {clean, {pc, clean}}]}]}.
